name: Trigger auto deployment for ca-mw10-globaluitest

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ca-mw10-globaluitest-AutoDeployTrigger-9510a751-35bd-4bd3-8001-a86604a22fe7.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CAMW10GLOBALUITEST_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CAMW10GLOBALUITEST_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CAMW10GLOBALUITEST_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.CAMW10GLOBALUITEST_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CAMW10GLOBALUITEST_REGISTRY_PASSWORD }}
          containerAppName: ca-mw10-globaluitest
          resourceGroup: RG-AI-Regent-DEV
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


