name: Docker Image Publish

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Extract metadata
        id: meta
        run: |
          echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
          echo "TIMESTAMP=$(date -u +'%Y%m%d_%H%M%S')" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: WebApp.Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            docker.io/dawgone/air-gevo-regent-ui-azure:latest
            docker.io/dawgone/air-gevo-regent-ui-azure:${{ steps.meta.outputs.SHORT_SHA }}
            docker.io/dawgone/air-gevo-regent-ui-azure:${{ steps.meta.outputs.TIMESTAMP }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
