name: Docker Image Publish

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE_BASE=docker.io/dawgone/air-gevo-regent-ui
          TAG_DATE=${IMAGE_BASE}:$(date +'%Y-%m-%d')_${GITHUB_RUN_NUMBER}
          TAG_LATEST=${IMAGE_BASE}:latest

          docker build . \
            --file WebApp.Dockerfile \
            --tag $TAG_DATE

          if [ "${{ github.event_name }}" != "pull_request" ]; then
            docker tag $TAG_DATE $TAG_LATEST
            docker push $TAG_DATE
            docker push $TAG_LATEST
          fi
