name: Docker Image Publish - Registry:Dockerhub 

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Extract metadata
        id: meta
        run: |
          echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
          echo "TIMESTAMP=$(date -u +'%Y%m%d_%H%M%S')" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build . --file WebApp.Dockerfile \
            --tag docker.io/dawgone/air-gevo-regent-ui-azure:latest \
            --tag docker.io/dawgone/air-gevo-regent-ui-azure:${{ steps.meta.outputs.SHORT_SHA }} \
            --tag docker.io/dawgone/air-gevo-regent-ui-azure:${{ steps.meta.outputs.TIMESTAMP }}

      - name: Push Docker image
        if: github.event_name != 'pull_request'
        run: |
          docker push docker.io/dawgone/air-gevo-regent-ui-azure:latest
          docker push docker.io/dawgone/air-gevo-regent-ui-azure:${{ steps.meta.outputs.SHORT_SHA }}
          docker push docker.io/dawgone/air-gevo-regent-ui-azure:${{ steps.meta.outputs.TIMESTAMP }}
